@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins',sans-serif;
}

body {
    color:white;
    background-color: #2b2b2b;
}

.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #0c5460;
    border-color: #ffffff;
    border-style: initial;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    color: #ffffff;
    background-color: #0c5460;
    border-style: dashed;
}

.smbox {
    width: 13%;
    margin-left: 2%;
    border-radius: .25rem;
}

.nmb {
    width: 7%;
    margin-left: 2%;
    border-radius: .25rem;
}

.desc {
    height:50%;
    width: 100%;
    padding-top: 0%;
    padding-right: 8%;
    padding-bottom: 13%;
    padding-left: 1%;

}