<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/homestyle.css">
  <!-- icons import -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <!-- add icon link -->
  <link rel="icon" href="/images/popcorn.png" type="image/x-icon">
  <title>About us | Cineverse</title>
</head>
    <body>
        <%- include('partials/menu') %>
        <div class="about-us">
            <div class="abcont">
                <div class="abrow">
                    <div class="flex">
                        <h2>About us</h2>
                        <h3>Discover Our Journey</h3>
                        <p>My journey in learning web development has been an exciting 
                           blend of structured learning and creative experimentation. 
                           I began by diving into backend development, where I learned 
                           to write JavaScript for implementing CRUD (Create, Read, 
                           Update, Delete) operations. This foundational knowledge 
                           allowed me to understand how data flows and how to interact 
                           with databases effectively. Once comfortable with the backend, 
                           I shifted my focus to the front end, learning HTML and CSS to 
                           design and structure web pages. Over time, I combined these 
                           skills and, through hands-on experimentation, brought this 
                           project to life. This project represents not only my 
                           growing proficiency in web development but also my 
                           ability to transform ideas into functional and visually 
                           appealing outcomes.</p>
                           
                    </div>
                    <div>
                        <img class="libimg" src="/images/libry.jpg" alt="abtus">
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>