<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/homestyle.css">
  <!-- icons import -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <!-- add icon link -->
  <link rel="icon" href="/images/popcorn.png" type="image/x-icon">
  <title>Top 100 Movies | Cineverse</title>
</head>
    <body class="topbg">
        <%- include('partials/menu') %>
        <div class="topmovies">
        <script src="imdbscript.js"></script>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>