<footer class="footer">
    <div class="container-f">
        <div class="row">
            <div class="footer-col">
                <img class="logo2" src="/images/cineverselogo.png">
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/accounts/login/?hl=en"><i class='bx bxl-instagram-alt'></i></a>
                    <a href="https://www.facebook.com/reg/"><i class='bx bxl-facebook-circle' ></i></a>
                    <a href="https://x.com/?lang=en"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://www.whatsapp.com/"><i class='bx bxl-whatsapp-square' ></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="/aboutus">About us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Customer Services</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Store Finder</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>