<header>
  <img class="logo" src="/images/cineverselogo.png" alt="logo">
  <nav>
    <ul class="nav__links">
        <li><a href="/home">Movies</a></li>
        <li><a href="/top100" class="imdb">Top 100 IMDB</a></li>
        <li><a href="/mybookings">My Bookings</a></li>
        <li><a href="/aboutus">About us</a></li>
    </ul>
  </nav>
  <a class="lgt" href="/">Log Out&nbsp;&nbsp;&nbsp;<i class='bx bx-exit'></i></a>
</header>