<div class="sidebar">
    <header>
        <img id='imgtool' src="/images/administrative-tools.png">
        <h3>Admin Toolbox</h3>
    </header>
    <ul>
        <li><a href="/admin/dashboard">&nbsp;Dashboard&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bxs-dashboard' ></i></a></li>
        <li><a href="/admin/users">&nbsp;Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bxs-user' ></i></a></li>
        <li><a href="/admin/movies">&nbsp;Movies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bxs-camera-movie' ></i></a></li>
        <li><a href="/admin/upload">&nbsp;Upload Movie&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bx-upload' ></i></a></li>
        <li><a href="/">&nbsp;Sign Out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bx-exit'></i></a></li>
    </ul>
</div>